body {
    background-color: #f0f0f0;
    color: #0a0a0a;
    font-family: 'cinzel', serif;
}
header {
    background-color: #45707b;
    color: rgb(255, 254, 253);
    padding: 10px 0;
    text-align: center;
}
main {
    padding: 20px;
}
footer {
    background-color: #45707b;
    color: rgb(251, 249, 249);
    padding: 10px 0;
    text-align: center;
    font-size: 0.8em;
}
.foto {
    width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.titulo {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'cinzel', serif;
}
.descripcion {
    text-align: center;
    font-size: 1.0em;
    margin-bottom: 40px;
}
li a {
    text-decoration: none;
    color: #223c3c;
    font-size: 1.3em;
}
li a:hover {
    text-decoration: underline;
    color: #847c02;
}
a {
    color: #223c3c;
    font-size: 1.3em;
}
a:hover {
    color: #847c02;
}
.subtitulo {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20px;
}
.derechos {
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
}
.presentacion {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}
.enlaces {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}
